*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'aller_displayregular';
	src: url('../fonts/allerdisplay-webfont.woff2') format('woff2'),
	url('../fonts/allerdisplay-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
         url('../fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pts75f-webfont.woff2') format('woff2'),
         url('../fonts/pts75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin allerDisplay {
	font-family: 'aller_displayregular';	
	font-weight: normal;
	font-style: normal;	
}

@mixin ptRegular {
	font-family: 'pt_sansregular';
	font-weight: normal;
	font-style: normal;	
}

@mixin ptBold {
   	font-family: 'pt_sansbold';
	font-weight: normal;
	font-style: normal;	
}

html{
	background-color:#fff;
	font-size: 100%;
}//html


b,strong { 	font-weight:bold; }
i,em { 	font-style:italic; 	}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}




.btn {
	max-width: 350px;
	width: 100%;
	display: block;
	text-align: center;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 37px;
	margin: 0;
	padding:20px 0 15px;
	font-size:37px;
	background-color: #53bdee;
	text-decoration: none;
	@include allerDisplay();

	&:hover {
		background-color: darken(#53bdee, 20%);
	}

	&.btn-blue {  
		background-color: #53bdee;
		color:#ffffff;
	}

	&.btn-center {
		margin:0 auto;
		display: block;
	}
}