#masthead nav {
	background-color:$light-grey;
	// position:relative;
	.hamburger {
		background-color: $white;
		@include breakpoint($lg) {
			display: none;
		}//breakpoint($lg)
	}

	#navigation {
		display: block!important;
		@include breakpoint(max-width $max-lg) {
			display: none!important;
			position:absolute;
			top: 100%;
			right:0;
			width:100%;			
		}//breakpoint(max-width $max-lg)
		ul {
			margin:0;
			padding:0;
			list-style: none;
			background-color:$light-grey;
			text-align: center;	
			li {
				position: relative;
				display: block;
				text-transform: uppercase;
				margin:0; 
				padding: 0;

				text-transform: uppercase;
				letter-spacing: 1px;
				color:$dark-blue;
				font-weight: bold;
				
				@include fontsize(16, 26)
				@include breakpoint($lg) {
					display: inline-block;
				}//breakpoint($lg)

				@include breakpoint($lg) {
					&::after {
						position:absolute;
						bottom:0;
						left:0;
						right:0;
						content: '';
						height:6px;
						width:100%;
						display: block;
						background-color:transparent;
						opacity: 0;
						border-radius:10px 10px 0 0;
						@include transition();
					}									
				}//breakpoint($lg)		
				
				&.current_page_parent,
				&.current_page_item {
					@include breakpoint($lg) {
						&::after {
							opacity: 1;
							background-color:$orange;
						}						
					}//breakpoint($lg)					
				}

				&:hover {
					color:$orange;
				}

				a {
					display: block;
					padding:10px 20px;
					color:inherit;
					border-bottom:1px solid $light-blue;
					span.sub-menu-toggle {
						display: inline-block;
						padding-left: 12px;
					}

					@include breakpoint($lg) {
						border-bottom: 0;
						padding:40px 24px 39px;
					}//breakpoint($lg)
				}//a
			}//li
			
			li.menu-item-has-children:hover > ul{
				display: block;
			}

			ul {
				display: none;
				background-color: $dark-blue;
				padding:20px;
  				@include breakpoint($lg) {
					position:absolute;
					top: 100%;
					left:50%;
					min-width:310px;
	  				transform: perspective(1px) translateX(-50%);		  						
  				}//breakpoint($lg)	
				li {
					display: block;
					width:100%;
					@include fontsize(14, 17);
					margin-bottom: 10px;
					border:2px solid $blue;
					white-space: nowrap;
					color:$white;
					@include transition();
					&::last-child {margin-bottom: 0;}
					&::after{ display: none;}

					&.current_page_item,
					&:hover { background-color:$blue; color:$white; }
					a {
						padding: 10px 20px;
						display: block;
					}
				}
			}//ul
		}//ul
	}//#navigation
}//nav