.site-banner {
	margin:35px 0;
	@include breakpoint(1024px) {
		margin:70px 0;
	}//breakpoint(1024px)

	.row {
		margin-bottom: 0;
		.col {
			padding: 40px 8px;
		}
	}

	.col-logo {
		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}

	.row .col-content {
		position: relative;
		border-top: 2px solid #7f7f7f;
		padding-bottom: 0;
		@include breakpoint(768px) {
			border-top: 0;
			border-left: 2px solid #7f7f7f;
			padding-left: 8%!important;
			padding-bottom: 40px;
		}//breakpoint(768px)
		&:before {
			content:'';
			position: absolute;
			top: 2px;
			border-top: 2px solid #7f7f7f;
			width: 100%;
			left: 0;

			@include breakpoint(768px) {
				top: 0;
				width: auto;
				border-top: 0;
				left: auto;

				left: 2px;
				top: 0;
				border-left: 2px solid #7f7f7f;
				height: 100%;
			}//breakpoint(768px)
		}		
	}

	.banner-title {
		font-size: 30px;
		line-height: auto;
		color:#53bdee;
		text-transform: uppercase;
		padding-bottom: 10px;
		@include allerDisplay();
		@include breakpoint(768px) {
			font-size:45px;
		}//breakpoint(768px)
		@include breakpoint(1024px) {
			font-size:60px;	
		}//breakpoint(1024px)
	}//banner-title

	.banner-content {
		color:#231f20;
		font-size:18px;
		line-height: 24px;
		@include ptRegular();
		@include breakpoint(1024px) {
			font-size:22px;	
			line-height: 32px;
		}//breakpoint(1024px)
	}//banner-content

}//site-banner