
.site-single-content {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
	
	

	h1.single-post-title {
		color:$dark-blue;
		margin:0 0 20px;
		font-weight: 700;
		font-style: italic;
		@include fontsize(28, 30);
		@include breakpoint($sm) {
			@include fontsize(36, 38);
			margin:0 0 50px;
		}//breakpoint($sm)		
	}//single-post-title

	.wrap-thumbnail {
		img {
			max-width: 100%;
			height: auto;
			margin:0 auto;
			border-radius: 4px;
			display: block;
		}//img
	}//wrap-thumbnail

	p.meta {
		color:$green;
		text-align: center;
		padding:20px 0;
		margin-bottom: 0;
		a {
			text-decoration: underline;
		}
	}


	.single-post-content {
	    padding: 20px;
		background-color: $white;
		border-radius: 4px;
		@include breakpoint($sm) {
			padding: 35px;
		}//breakpoint($sm)
		@include breakpoint($md) {
			padding: 50px;
		}//breakpoint($md)		
	}

	.share-post {
		border-radius: 4px;
	    display: flex;
	    flex-flow: row;
	    flex-wrap: wrap;

	    justify-content: center;
	    align-items: center;

	    background-color: $white;

	    width: 100%;
	    margin-top: 20px;
	    padding: 20px 10px;
	    @include breakpoint($sm) {
	    	padding: 20px 50px;
	    }//breakpoint($sm)
		
		.share-post-title {
			@include breakpoint($sm) {
				margin-right: auto;
			}//breakpoint($sm)
		    p {
		    	margin:0;
		    	padding: 0;
		    	color:$darker-blue;
		    	@include fontsize(16, 32);
		    	font-weight: 700;
		    	text-transform: uppercase;

		    }
		}

		.share-links {
			@include breakpoint($sm) {
				margin: 0 auto 0 -133px
			}//breakpoint($sm)
		    ul {
		    	margin:0;
		    	padding: 0;
		    	list-style: none;
		    	text-align: center;
		    	li {
		    		margin:0 10px;
		    		padding:0;
		    		display: inline-block;
		    		width: 60px;
		    		height: 60px;

					&.fb  a{
						background-color: #466ed3;
						border-color:#23469d;
						&:hover {
							border-color:#466ed3;
						}
						&:after { content: '\f09a'; }//fb
					}

					&.twitter a{
						background-color: #18c6f1;
						border-color:#0d99bc;	
						&:hover {
							border-color:#18c6f1;	
						}				
						&:after { content: '\f099';  }//twitter
					}
					&.linkedin a {
						background-color: #15649b;
						border-color:#0c3959;
						&:hover {
							border-color:#15649b;
						}
						&:after { content: '\f0e1'; }//linkedin
					}
		    		a {
						display: block;
						width: 100%;
						height: 100%;
						cursor:pointer;
						font-size: 0!important;
						position: relative;
						color: $white;
						border-bottom-width: 4px;
						border-bottom-style: solid;
						border-radius: 4px;


						&:after {
							font-size:25px;
							line-height: 60px;
							content: '';

							// position: absolute;
							// top: 0;
							// left: 0;
							// right: 0;
							// margin:0 auto;
							// width: 100%;
							// height: 100%;

							font-family: "fontello";
							font-style: normal;
							font-weight: normal;
							speak: none;

							display: block;
							text-decoration: inherit;
							text-align: center;

							/* For safety - reset parent styles, that can break glyph codes*/
							font-variant: normal;
							text-transform: none;
							/* you can be more comfortable with increased icons size */
							/* font-size: 120%; */

							/* Font smoothing. That was taken from TWBS */
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;				
						}//after			
						span {
							visibility: hidden;
							position: absolute;
							left: -100em;
						}
		    		}//a
		    	}//li
		    }//ul
		}//share-links
	}

}//site-single-content