*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	background-color:$white;
	font-size: 100%;
}//html

body {
	@include basicSans(normal,400);	
	@include fontsize(16,27);
	-webkit-font-smoothing: antialiased;
}//body


//IOS Hack.
@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}

.cf { @include clearfix; }
b,strong { 	font-weight:bold; }
i,em { 	font-style:italic; 	}


//UL, OL lists
//In case you use Visual Composer otherwise take those classes out to be global.
.wpb_content_element,
.single-post-content {
	ul,
	ol {
		margin-left: 18px;
		padding-bottom: 30px;
		li {
			//color: ;
			@include fontsize(16, 24);
			
			margin-bottom: 30px;
		    padding-left: 20px;
		    position: relative;		

			&:last-child{
				margin-bottom: 0;
			}//last-child	
		}//li
	}//ul,ol
}



//
// Inputs Style
//

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;	
	width:100%;
	border:0;
	border-radius:4px;
	background:$white;
	margin-bottom: 14px;
	@include basicSans(italic, 400);
	//color: ;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"]  {
	height:40px;
	padding:0 16px;
	@include fontsize(16,32);
}

textarea{
	height:200px;
	padding: 16px;
	@include fontsize(16,30);
	//color: ;
}

::-webkit-input-placeholder {
   //color: ;
}

:-moz-placeholder { /* Firefox 18- */
   //color: ;  
}

::-moz-placeholder {  /* Firefox 19+ */
   //color: ;  
}

:-ms-input-placeholder {  
   //color: ;  
}

/*******************************/
/* Make videos responsive */
/*******************************/

.iframe {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	margin-bottom: 30px;

	object,
	embed,
	iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}	
}//.iframe



/*******************************/
/* Text Reader */
/*******************************/

.visually-hidden {
	position: absolute;
  	top: -1000em;
}

#skip-to-content {
	visibility: hidden;
	width: 0;
	height: 0;
}

/*******************************/
/* SUB/SUP */
/*******************************/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}