/***********
	Colors
************/

$white 					: #ffffff;


$orange					: #f25830;
$accent-color			: #fa9d2e;
$tertiary-color			: #4a7999;

$grey 					: #2d373e;
$black 					: #000000;

/*****************
	Breakpoints
******************/

$sm 		: 48rem;
$md 		: 62rem;
$lg 		: 75rem;
$xl 		: 87.5rem;

$max-sm 	: 47.9375rem;
$max-md 	: 61.9375rem;
$max-lg 	: 74.9375rem;
$max-xl 	: 89.9375rem;

/*****************
	Helpers
******************/
$default-letter-spacing 	: 1;