h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,{
	margin-bottom: 30px;
}//h1,h2,h3,h4,h5,h6

h1,
.h1 {	
	@include fontsize(24,26);
	@include breakpoint($sm) {
		@include fontsize(28, 30);	
	}//breakpoint($sm)
	@include breakpoint($md) {
		@include fontsize(56,56);
	}//breakpoint($md)
}//h1

h2,
.h2 {
	@include fontsize(28, 30);
	@include breakpoint($sm) {
		@include fontsize(32, 34);
	}//breakpoint($sm)
	@include breakpoint($md) {
		@include fontsize(40, 40);
	}//breakpoint($md)	
}//h2

h3,
.h3 {
	@include fontsize(24,26);
	@include breakpoint($sm) {
		@include fontsize(28,40);
	}//breakpoint($sm)
}//h3

h4,
.h4 {
	@include fontsize(24,26);
	@include breakpoint($sm) {
		@include fontsize(28,40);
	}//breakpoint($sm)
}//h4

h5,
.h5 {
	@include fontsize(18, 30);
}//h5

h6,
.h6 {
	@include fontsize(18,20);
}//h6

p,
.p {
	//color: ;
	@include fontsize(16, 24);
	margin-bottom: 30px;
	&:last-child{
		margin-bottom: 0;
	}//last-child
	
	@include breakpoint($sm) {
		@include fontsize(18, 30);
	}//breakpoint($sm)

	small {
		@include fontsize(12, 18);
	}
}//p


p.lead {
	@include fontsize(18, 30);
	@include breakpoint($sm) {
		@include fontsize(24, 30);	
	}//breakpoint($sm)
}

a{
	text-decoration:none;
	@include transition();
	&:hover{

	}//hover
}//a
